@TOOLBAR_INSTALL_DIR@/scripts/undo_for_cutlines.py => scripts/undo_for_cutlines.py
@TOOLBAR_INSTALL_DIR@/scripts/tire_reflect.py => scripts/tire_reflect.py
@TOOLBAR_INSTALL_DIR@/scripts/tire_rebar.py => scripts/tire_rebar.py
@TOOLBAR_INSTALL_DIR@/scripts/tire_mesh.py => scripts/tire_mesh.py
@TOOLBAR_INSTALL_DIR@/scripts/tire_materials.py => scripts/tire_materials.py
@TOOLBAR_INSTALL_DIR@/scripts/tire_geometry.py => scripts/tire_geometry.py
@TOOLBAR_INSTALL_DIR@/scripts/tire_blunt.py => scripts/tire_blunt.py
@TOOLBAR_INSTALL_DIR@/scripts/tire_bc.py => scripts/tire_bc.py
@TOOLBAR_INSTALL_DIR@/scripts/merge.jou => scripts/merge.jou
@TOOLBAR_INSTALL_DIR@/scripts/edge_visualization.py => scripts/edge_visualization.py
@TOOLBAR_INSTALL_DIR@/scripts/edge_collapse.py => scripts/edge_collapse.py
@TOOLBAR_INSTALL_DIR@/scripts/cubit_utils.py => scripts/cubit_utils.py
@TOOLBAR_INSTALL_DIR@/scripts/composite.py => scripts/composite.py
@TOOLBAR_INSTALL_DIR@/icons/undo.png => icons/undo.png
@TOOLBAR_INSTALL_DIR@/icons/surface_create.png => icons/surface_create.png
@TOOLBAR_INSTALL_DIR@/icons/reflect.png => icons/reflect.png
@TOOLBAR_INSTALL_DIR@/icons/rebar.png => icons/rebar.png
@TOOLBAR_INSTALL_DIR@/icons/mesh_1.png => icons/mesh_1.png
@TOOLBAR_INSTALL_DIR@/icons/edgesense.png => icons/edgesense.png
@TOOLBAR_INSTALL_DIR@/icons/cutlines.png => icons/cutlines.png
@TOOLBAR_INSTALL_DIR@/icons/curvemerge.png => icons/curvemerge.png
@TOOLBAR_INSTALL_DIR@/icons/composite.png => icons/composite.png
@TOOLBAR_INSTALL_DIR@/icons/collapse.png => icons/collapse.png
@TOOLBAR_INSTALL_DIR@/icons/blunttangent.png => icons/blunttangent.png
@TOOLBAR_INSTALL_DIR@/icons/assign_materials.png => icons/assign_materials.png
@TOOLBAR_INSTALL_DIR@/icons/assign_bcs.png => icons/assign_bcs.png
@TOOLBAR_INSTALL_DIR@/toolbars/jing_yu.ttb => toolbars/jing_yu.ttb
